.component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3px 10px 3px 3px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 3px;
  transition: 0.3s;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:hover {
    border: 1px solid #cd853f;
  }

  &:last-child {
    margin-bottom: 0;
  }

  & input {
    margin: 0 10px 0 0;
  }

  & h4 {
    color: #696969;
  }
}

.title_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}

.button__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & button:first-child {
    margin-right: 20px;
  }
}

.button {
  padding: 5px 10px;
  background-color: #228b22;
  color: #ffffff;
  border-radius: 5px;
  border: 0;
  margin: 0;
  font-size: 14px;
  transition: 0.3s;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: #008000;
  }
}

.button_del {
  background-color: #ff4500;

  &:hover {
    background-color: #ff6347;
  }
}

.button_cancel {
  background-color: #d2691e;

  &:hover {
    background-color: #cd853f;
  }
}
